body * {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Nunito Sans, sans-serif;
  color: white;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: #131313;
  position: sticky;
  top: 0;
  z-index: 3;
}
.container__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  margin-left: 108px;
  margin-right: 83px;
  display: flex;
}
.nav__text {
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}
.nav__ul {
  display: flex;
}
.nav__ul li:not(:last-child) {
  padding-right: 47px;
}
.nav__ul li {
  list-style: none;
}
.nav__link:hover {
  color: #e3b873;
  transition: 0.2s;
}
.cursor {
  cursor: pointer;
}
.text__decoration {
  text-decoration: none;
}
.logo {
  color: #e3b873;
}
.phone-number {
  color: #e3b873;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .nav__button {
    display: none;
  }
  .container__header {
    display: flex;
    justify-content: space-between;
  }
  .header {
    padding: 0 18px;
  }
}
.nav__button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  margin-left: 45px;
  height: 37px;
}
.hero {
  background-image: url(static/images/hero/bg.jpg);
  background-size: cover;
  position: relative;
  padding: 194px 134px 208px;
  z-index: -2;
}
/**.hero::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}**/
.title {
  font-family: Yeseva One, serif;
  text-transform: uppercase;
}
.hero__title {
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 19px;
}
.hero__title span {
  color: #e3b873;
}
.hero__paragraph {
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 41px;
}
.hero__button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  height: 51px;
}
.hero__button_1 {
  margin: 0 20px 0 0;
}
.hero__button_2 {
  margin: 0;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #ffffff;
  background-color: transparent;
}
.buttons__wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .hero__title {
    margin-bottom: 16px;
    font-size: 23px;
    line-height: 132.83%;
  }
  .hero {
    padding: 85px 18px 61px;
  }
  .hero__paragraph {
    font-size: 14px;
    line-height: 135.84%;
    margin-bottom: 32px;
  }
  .hero__button_1 {
    width: 100%;
    margin-bottom: 26px;
  }
  .hero__button_2 {
    width: 100%;
  }
  .buttons__wrapper {
    flex-direction: column;
  }
}
.projects {
  background-color: #131313;
  width: 100%;
  padding: 107px 134px 415px;
}
.projects__text-img__wrapper {
  display: flex;
  align-items: center;
}
.subtitle {
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: #e3b873;
  margin: 0 0 34px;
}
.project__paragraph {
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 42px;
}
.wrapper__project__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.project__features {
  margin-right: 29px;
  margin-bottom: 34px;
  width: 208px;
  height: 50px;
}
.wrapper__project__features > div {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
.wrapper__project__features h3 {
  font-size: 18px;
  line-height: 25px;
  color: #e3b873;
  margin-bottom: 34px;
  margin-top: 0;
}
.span__project {
  font-family: Nunito Sans;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
}
.icons__project {
  margin-top: 47px;
}
.icons__project img:not(:last-child) {
  margin-right: 30px;
}
.projects__li {
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.3);
}
.projects__nav li:not(:last-child) {
  margin-right: 61px;
}
.projects__li:hover {
  color: #e3b873;
  text-decoration: underline;
  transition: color 0.2s;
}
.projects__nav {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 53px;
}
.projects__nav li {
  list-style: none;
}
.projects__img {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .projects__nav {
    display: none;
  }
  .projects {
    padding: 36px 18px 0;
  }
  .projects__text-img__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .subtitle {
    font-size: 22px;
    line-height: 138.6%;
    text-align: center;
    letter-spacing: -0.07em;
    margin-bottom: 22px;
  }
  .project__paragraph {
    font-size: 11px;
    line-height: 158.48%;
    text-align: center;
    margin-bottom: 36px;
  }
  .wrapper__project__features h3 {
    font-size: 14px;
    line-height: 138.6%;
    font-size: 14px;
    line-height: 138.6%;
  }
  .wrapper__project__features {
    justify-content: space-between;
  }
  .span__project {
    font-size: 11px;
    line-height: 18px;
  }
  .projects__text-img__wrapper {
    margin: 37px 0 58px;
  }
  .projects__img {
    display: none;
  }
  .icons__project {
    display: none;
  }
  .wrapper__project__features > div {
    margin-right: 100px;
  }
  .projects__adaptive_img {
    background-image: url(static/images/projects/2.jpg);
    background-size: cover;
    height: 446px;
    margin-bottom: 37px;
  }
}
.control {
  position: relative;
  margin-top: -324px;
}
.container__control {
  flex-direction: column;
}
.control__subtitle {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.icons__main {
  margin-bottom: 31px;
  margin-top: 13px;
}
.hr {
  color: #e3b873;
  border-radius: 30px;
  width: 4%;
  height: 2px;
  margin-top: 63px;
  margin-bottom: 34px;
}
.control__paragraph {
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  color: #363636;
  margin: 0 0 93px 0;
}
input,
label {
  display: block;
}
.form__input {
  display: inline-block;
}
.input__control {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
  height: 33px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  background-color: transparent;
  color: inherit;
  outline: none;
}
.input__phone {
  margin: 0 49px 0 58px;
}
.control__label {
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}
.button-submit {
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
  border: none;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  height: 51px;
  vertical-align: bottom;
}
.first-checkbox {
  margin-top: 37px;
}
.label {
  display: flex;
}
.checkbox {
  display: none;
}
.fake {
  display: inline-flex;
  width: 18px;
  height: 18px;
  background: #e3b873;
  color: #fff;
  justify-content: center;
}
.fake::before {
  content: "\2714";
  opacity: 0;
  transition: 0.2s;
}
.checkbox:checked + .fake::before {
  opacity: 1;
}
.text {
  font-size: 14px;
  line-height: 163.68%;
  margin-left: 9px;
  color: #181818;
}
@media (max-width: 768px) {
  .control {
    background-color: #131313;
    margin-top: -1px;
    padding: 0 18px 88px;
  }
  .control__subtitle {
    font-size: 22px;
    line-height: 138.6%;
  }
  .icons__main {
    margin: 20px 0 40px;
  }
  .video__width {
    width: 100%;
  }
  .hr {
    margin: 28px 0 21px 0;
  }
  .control__paragraph {
    font-size: 11px;
    line-height: 169.8%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 61px;
  }
  .form_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .control__label {
    color: rgba(255, 255, 255, 0.5);
  }
  .input__control {
    font-size: 14px;
    line-height: 138.72%;
    color: #ffffff;
    width: 100%;
  }
  .text {
    font-size: 14px;
    line-height: 163.68%;
    color: #ffffff;
  }
  .form__input {
    width: 100%;
    order: -3;
  }
  .input__phone {
    margin: 63px 0 27px;
    order: -2;
  }

  .first-checkbox {
    margin: 0;
    order: -1;
  }
  .button-submit-adaptive {
    font-size: 13px;
    line-height: 27px;
    width: 100%;
    position: absolute;
    top: 128%;
    height: 51px;
  }
}
