body {
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito Sans, sans-serif;
}
.header {
  background-color: #131313;
  position: sticky;
  height: 84px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 4;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
}
.nav__link {
  padding-right: 47px;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}
.nav__link:hover {
  color: #e3b873;
  transition: 0.2s;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.logo {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #e3b873;
  margin-right: 108px;
}
.phone-number {
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: #e3b873;
  margin-left: 83px;
}
.first__button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 161px;
  height: 37px;
  margin-left: 45px;
}
.hero {
  background-image: url(static/images/image\ 4.3.jpg);
  background-size: cover;
  position: relative;
  height: 707px;
  display: flex;
  align-items: center;
}
.hero::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.hero__title {
  font-family: Yeseva One, serif;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 43px 21px 21px;
}
.hero__title-span {
  color: #e3b873;
}
.hero__paragraph {
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  margin: 21px 661px 21px 21px;
}
.hero__button1__size {
  width: 207px;
  height: 51px;
  margin-left: 21px;
  margin-right: 20px;
  margin-top: 41px;
}
.hero__button2__size {
  width: 207px;
  height: 51px;
  margin-top: 41px;
}
.second__button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  background: transparent;
}

.projects {
  background: #131313;
  width: 100%;
  height: 1074px;
  position: absolute;
}
/**.project-text {
  padding-left: 21px;
  margin-top: 77px;
}**/
.project__subtitle {
  font-family: Yeseva One;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  /**margin-top: 77px;
  margin-left: 21px;**/
}
.project__paragraph {
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 34px;
  /**margin-left: 21px;**/
}
.project__subtitle__features {
  font-family: Yeseva One;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  color: #e3b873;
}
.span__project {
  font-family: Nunito Sans;
  font-size: 13px;
  line-height: 21px;

  color: #ffffff;
}
.project__features {
  display: inline-block;
  margin-right: 29px;
  margin-bottom: 34px;
}
.container__projects {
  padding-left: 21px;
  margin-top: 77px;
  padding-right: 21px;
}
.icons {
  margin-top: 81px;
}
.projects__arrow-left {
  margin-right: 30px;
}
.projects__arrow-right {
  margin-left: 30px;
}
.container__projects__nav {
  max-width: 679px;
  margin-bottom: 53px;
  margin-top: 107px;
}
.projects__nav__link {
  font-family: Yeseva One;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.projects__nav__link:hover {
  color: #e3b873;
  text-decoration: underline;
  transition: color 0.2s;
}
.project__text-img {
  display: flex;
}
.projects__img {
  margin-left: 50px;
}
